
body{
  background:radial-gradient(200% 100% at bottom center,#F7F7B6,#E96F92,#75517D,#1B2947);
  background:radial-gradient(220% 105% at top center,#0c6d8a 10%,#0c6d8a 40%,#0c6d8a 65%,#F7F7B6);
  background-attachment:fixed;

}
@keyframes rotate{
  0%{
    transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100%{
    transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}
.stars{
  transform:perspective(500px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 100%;
  left:50%;
  animation:rotate 63s infinite linear;
}
.star{
  width:3px;
  height:3px;
  background:#F7F7B6;
  //border-radius:100%;
  position:absolute;
  top:0;
  left:0;
  transform-origin:0 0 -300px;
  transform:translate3d(0,0,-300px);
  backface-visibility:hidden;
}
 .header-container {
    font-family: Book Antiqua;
    position: relative;
    text-align: center;
    margin-top: 25%;
}

.section-box{
  border: solid;
  margin: -20px;
  color: white;
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
       margin-top: 33%;

}



.line{
  width: 100vw;
  display: flex;
  align-items: center;
  border: 2;
  border-top: 1px solid rgba(216, 164, 164, 0.85);
  margin-top: 22%;
}

.line-bottom{
  margin-bottom: 80px;
}

.line-top{
  margin-top: 80px;
}


$maxWidth : 960px;
$cardWidth : 100px;
$cardHeight : 130px;

$colorMain : #3498db;
$colorMainDarker : #2980b9;
$colorSecundary : #9b59b6;
$colorSecundaryDarker : #9b59b6;

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}



.container {
  position: relative;
  width: 100%;
  max-width: $maxWidth;
  min-height: 100%;
  margin: 0px auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.element-card {
  position: relative;
  width: $cardWidth;
  height: $cardHeight;
  transform-style: preserve-3d;
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
  margin: 5px;
  cursor: pointer;

  &:hover {
    transform: rotatey(45deg) translatex(0px) translatey(0px);
  }

  &.open {
    width: 2*$cardWidth;
    height: 2*$cardHeight;
    transform: rotatey(-180deg) translatex(0px) translatey(0px);
  }

  .front-facing {
    transform: rotateY( 0deg ) translateZ( 2px );
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ecf0f1;
    border: 2px white solid;
    border-radius: 5px;
    .abr {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 42px;
      margin: -35px 0 0 0;
      text-align: center;
      color: $colorMain;
    }
    .title {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      text-transform: uppercase;
      font-size: 12px;
      margin: 15px 0 0 0;
      text-align: center;
      color: $colorMain;
    }
    .atomic-number {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 12px;
      color: $colorMainDarker;
    }
    .atomic-mass {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 12px;
      color: $colorMainDarker;
    }
  }

  .back-facing {
    transform: rotateY( 180deg ) translateZ( 0px );
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ecf0f1;
    border: 2px white solid;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    p {
      font-size: 14px;
      margin: 0;
    }
    a.btn {
      display: inline-block;
      background-color: white;
      padding: 5px 15px;
      margin: 20px 0 0 0;
      color: #eee;
      background-color: $colorMain;
      text-decoration: none;
      border-radius: 3px;
      &:hover, &:focus {
        color: #fff;
        background-color: $colorMainDarker;
      }
    }
  }

}

.line2{
  width: 100vw;
  display: flex;
  align-items: center;
  border: 2;
  border-top: 1px solid rgba(216, 164, 164, 0.85);
  margin-top: 4rem;
}

.element-card {
width: 200px;
height: 200px;
}




/*---------------*/
a:hover {
  text-decoration: underline;
}

/* Hero Unit ----------------------*/
.hero-unit {
  height: 640px;
  background-color:transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.hero-unit h1,
.hero-unit h2,
.hero-unit h3,
.hero-unit h4,
.hero-unit h5,
.hero-unit h6 {
  margin-top: -0.5rem;
  margin-bottom: 0;
  color: white;
}
.hero-unit h1 {
  font-weight: bold;
}
.hero-unit hgroup {
  margin: 3rem 0;
}
.hero-unit .card-icon { /* front of card */
  display: block;
  margin: 0.5rem auto 0;
  font-size: 2rem;
  color: white;
}
.hero-unit .clients {
  margin: 2rem auto;
}
.hero-unit .clients a {
  color: white;
}
.clients .fa-stack-2x {
  color: gray;
}
.clients:hover .fa-stack-2x {
  color: #333333;
}

/* Card design - front */
.button.large {
  margin: 0;
  padding: 3.25rem;
}
.button.large a {
  color: #f9f7f7;
  font-size: 1.75rem;
  font-weight: 100;
  margin-top: 2rem;
  font-family:sans-serif;
}

/* Card design - back */
.panel i {
  font-size: 2rem;
  display: block;
  float: left;
  width: 20%;
  opacity: 0.5;
}
.panel p {
  margin-right: 20px;
}
.panel a,
.panel p,
.panel small {
  width: 80%;
  float: right;
  font-family:sans-serif;
  text-align: center;
}
.panel a {
  margin-bottom: 0.5rem;
}
.panel a:hover {
  text-decoration: underline;
}
.panel small {
  margin-top: -0.5rem;
  font-style: italic;
}

/* Buttons Card Flipper
 * Source: https://cssdeck.com/labs/rxcleo5w
 */
.flip-cards {
  float: left;
  width: 125%;
  height: 61%;
  padding-left: 0rem;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.77);
}

.flip-cards li {
  float: left;
  width: 33.3%;
  height: 180px;
  position: relative;
  padding: 0;
}

.flip-cards li:hover {
  cursor: pointer;
}

.flip-cards li:hover .card-front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform: perspective(1000) rotateY(180deg);
  -moz-transform: perspective(1000) rotateY(180deg);
  -ms-transform: perspective(1000) rotateY(180deg);
  -o-transform: perspective(1000) rotateY(180deg);
  transform: perspective(1000) rotateY(180deg);
}

.flip-cards li:hover .card-back {
  z-index: 950;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform: perspective(1000) rotateY(0deg);
  -moz-transform: perspective(1000) rotateY(0deg);
  -ms-transform: perspective(1000) rotateY(0deg);
  -o-transform: perspective(1000) rotateY(0deg);
  transform: perspective(1000) rotateY(0deg);
}

.flip-cards .card-front,
.flip-cards .card-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.flip-cards .card-front {
  -webkit-transform: perspective(1000) rotateY(0);
  -moz-transform: perspective(1000) rotateY(0);
  -ms-transform: perspective(1000) rotateY(0);
  -o-transform: perspective(1000) rotateY(0);
  transform: perspective(1000) rotateY(0);
  z-index: 900;
}

.flip-cards .card-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 800;
}

/* Button Card Colors */
.flip-cards .panel {
  border: none;
}

.flip-cards .panel i,
.flip-cards .panel p,
.flip-cards .panel a,
.flip-cards .panel small {
  color: white;
}

/* First button color */
.flip-cards li:first-child > .button {
  background-color: rgba(255, 43, 138, 0.55);
}
.flip-cards li:first-child > .panel {
 background-color: rgba(220, 120, 193, 0.6)!important;
}

/* Second button color */
.flip-cards li:nth-child(2) > .button {
  background-color: rgba(85, 191, 222, 0.62);
}
.flip-cards li:nth-child(2) > .panel {
  background-color: rgba(28, 57, 160, 0.26);
}

/* Third button color */
.flip-cards li:nth-child(3) > .button {
  background-color: rgba(255, 43, 138, 0.55);
}
.flip-cards li:nth-child(3) > .panel {
  background-color: rgba(220, 120, 193, 0.6);
}

/* Fourth button color */
.flip-cards li:nth-child(4) > .button {
  background-color: rgba(85, 191, 222, 0.62);
}
.flip-cards li:nth-child(4) > .panel {
  background-color: rgba(28, 57, 160, 0.26);
}

/* Fifth button color */
.flip-cards li:nth-child(5) > .button {
  background-color: rgba(255, 43, 138, 0.55);
}
.flip-cards li:nth-child(5) > .panel {
   background-color: rgba(220, 120, 193, 0.6);
}

/* Sixth (last) button color */
.flip-cards li:last-child > .button {
  background-color: rgba(85, 191, 222, 0.62);
}
.flip-cards li:last-child > .panel {
  background-color: rgba(28, 57, 160, 0.26);
  color: white;
}

/*
 * RESPONSIVENESS -------------------------------------------------
 */
@media only screen and ( max-width: 40em ) {
  .hero-unit {
    height: 800px;
  }
  .flip-cards li {
    width: 50%;
    /*height: 160px;*/
  }
}
@media only screen and ( max-width: 30em ) {
  .hero-unit h1 {
    font-size: 1.75rem;
  }
  .hero-unit h3 {
    font-size: 1.125rem;
  }
}
@media only screen and ( max-width: 25em ) {
  .hero-unit {
    height: 920px;
  }
  .hero-unit hgroup {
    margin: 2rem 0;
  }
  .hero-unit h1 {
    font-size: 1.35rem;
    padding-bottom: 0.25rem;
  }
  .hero-unit h3 {
    font-size: 0.85rem;
  }
  .hero-unit .card-icon {
    font-size: 1.35rem;
  }
  .hero-unit .card-back .card-icon {
    font-size: 2rem;
    margin: 0;
    padding: 5px 0 20px 5px;
  }
  .flip-cards li {
    width: 100%;
    font-size: 1.35rem;
    height: 120px;
  }
  .flip-cards .panel p {
    display: none;
  }
  .flip-cards .panel small {
    margin: 0;
  }
  .button.large {
    padding: 2rem;
  }
  .button.large a {
    font-size: 1.35rem;
  }
}
.bio-unit {
  color:white;
  text-shadow:#752f2f;
  font-family:sans-serif;
  font-size:20px;
}

.aboutme-info {
 margin-top:50%;
}

.name {
color: transparent;
font-size:20px;
text-align: center;
line-height: 40px;
font-family:Book Antiqua;
text-shadow: 0.5px 0.5px 1px #D8D8D8;
background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
background-position: 40% 50%;
-webkit-background-clip: text;
letter-spacing: -8px;
}




.contact-info {
  font-family:sans-serif;
}

.details {
  font-family:sans-serif;
}

@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}



.title{
  color: transparent;
  font-size:120px;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: 2px;
  margin-top: -70px;
}

