<html>

<head>


<div class="gradiant"></div>
<div class="stars"></div>



  <div class="header-container" style="font-family: fantasy">

    <div class = "name" style= "color: ghostwhite"> <h1><b>Gina Chen</b></h1></div><br>
    <div class = "name" style= "color: ghostwhite"> <p>I am a London-based fullstack developer.
     <br>I build creative, interactive and user-friendly websites for any industry.</p></div>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container" style = "padding: 27px;">

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" style = "margin-left: 25px;"href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div id="app" class="container">
  <card>
<div class = section-box>
<section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">MY REAL PASSION LIES IN CODING.</h2>
          <p class="text-white-50">"THE ONLY WAY TO BE TRULY SATISFIED WTIH YOUR WORK IS TO DO WHAT YOU BELIEVE IS GREAT WORK."<br>I used to work as a Sales Accounts Manager (EMEA) in the technology industry, covering <b> Big Data, IoT and Cloud technologies.</b> where I found what I truly love.

          </p>
        </div>
      </div>
      <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
  </section>

</div>
</div>
</card>
</div>


<div class="cards-projects" style = "margin-top: 15%">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/9198/nature-sky-twilight-grass-9198.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    The Green Rocket
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    LESSFLY
  </div>

</div>

<div class="cards-projects">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/452737/pexels-photo-452737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    MissCocktail
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1130813/pexels-photo-1130813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Led
  </div>



</div>

<!--
<footer>
  <div class="container-footer" style = "float:right; ">



    <div class="nine columns">
      <p>Created with love by Gina.</p>
    </div>

 </div>

</footer> -->


<section class="container-footer">
  <div id="instafeed"></div>
  <section class="footer-links" style= "margin-bottom: 8%;">
  <ul class="social-links">
    <li>Find Gina on: </li>
   <li class="social-link"><a href="https://www.linkedin.com/in/gina-chen-708688146/">Linkedin</a></li>
    <li class="social-link"><a href="https://github.com/ginachen1234">Github</a></li>
    <li class="social-link"><a href="https://codepen.io/hans/">Codepen</a></li>
  </ul>
    </section>
</section>

</body>

</html>
