<html>

<head>
  <div>
<div class="gradiant"></div>
<div class="stars"></div>

  <div class="header-container" style="font-family: fantasy">

    <div class = "name" style= "color: ghostwhite"> <h1><b>Gina Chen</b></h1></div><br>
    <div class = "name" style= "color: ghostwhite"> <p>I am a London-based fullstack developer.
     <br>I build creative, interactive and user-friendly websites for any industry.</p></div>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container" style = "padding: 27px;">

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" style = "margin-left: 25px;"href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="banner" style="color:transparent; border:white solid; margin-top:25%;">
  <div class="container">
    <h1>MY REAL PASSION LIES IN CODING!</h1>


    <p><br>"THE ONLY WAY TO BE TRULY SATISFIED WTIH YOUR WORK IS TO DO WHAT YOU BELIEVE IS GREAT WORK."<br>I used to work as a Sales Accounts Manager (EMEA) in the technology industry, covering <b> Big Data, IoT and Cloud technologies.</b> where I found what I truly love.
</p>
  </div>
</div>



<!-- Hero Unit -->
<section class="hero-unit">

  <div class="row" style = "justify-content: center; margin-top:10%; box-shadow: rgba(0,0,0,0.75)">
    <div class="large-12 columns">
      <hgroup>
        <h1>Code. Design. Education.</h1>
        <h3>My passion for coding kept me continously learning. Make new opportunities.</h3>
      </hgroup>


      <ul class="small-block-grid-2 medium-block-grid-3 flip-cards">

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="#">Code</a>
            <i class="fa fa-code card-icon "></i>
          </div>
          <div class="panel card-back">
            <i class="fa fa-code card-icon"></i>
            <div class="hub-info">
              <a href="#">JKLCode.com</a>
              <p>Find coding gists, cheatsheets, plugins, themes, resources, and tutorials.</p>
            </div>
            <small class="clear">Updated TTH.</small>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="http://www.aaronsnowberger.com">Design</a>
            <i class="fa fa-pencil-square-o card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-pencil-square-o card-icon"></i>
            <div class="hub-info">
              <a href="http://www.aaronsnowberger.com">AaronSnowberger.com</a>
              <p>Take a look at my graphic design portfolio and contact me for design work.</p>
            </div>
            <small class="clear">Updated Saturdays.</small>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="">Education</a>
            <i class="fa fa-paper-plane-o card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-paper-plane-o card-icon"></i>
            <div class="hub-info">
              <a href="">Udemy.com</a>
              <p>Join classes about Computers, Technology, Coding, Design, and Language Learning.</p>
            </div>
            <small class="clear">Updated Mondays.</small>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="">Life</a>
            <i class="fa fa-map-o card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-map-o card-icon"></i>
            <div class="hub-info">
              <a href="">KeysToAGoodLife.com</a>
              <p>Find resources about business, family, exercise, and other various topics.</p>
            </div>
            <small class="clear">Updated monthly.</small>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="http://www.keytokorean.com">Language</a>
            <i class="fa fa-language card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-language card-icon"></i>
            <div class="hub-info">
              <a href="http://www.keytokorean.com">KeyToKorean.com</a>
              <p>Take your Korean from "foreign" to fluent with vocab lists and grammar guides.</p>
            </div>
            <small class="clear">Updated MWF.</small>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
            <a href="http://www.aicfchurch.org">Church</a>
            <i class="fa fa-users card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-users card-icon"></i>
            <div class="hub-info">
              <a href="http://www.aicfchurch.org">AICFChurch.org</a>
              <p>Listen to sermon podcasts or download church graphic design resources.</p>
            </div>
            <small class="clear">Updated the 4th Sunday.</small>
          </div>
        </li>

      </ul>
    </div>

    <div class="large-12 columns">
      <div class="small-12 small-centered medium-6 medium-centered large-3 large-centered columns clients">
        <a href="#">
          <p class="text-center">
            <span class="fa-stack">

          </span>
          </p>
        </a>
      </div>
      <!-- end .clients -->
    </div>

  </div>
</section>











<div class="large-12 columns" style="color:white">
      <hgroup>
        <div class = "projects-section"><h1>Projects</h1></div>
</div>



<div class="cards-projects" style = "margin-top: 15%">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/9198/nature-sky-twilight-grass-9198.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    The Green Rocket
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    LESSFLY
  </div>

</div>

<div class="cards-projects">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/452737/pexels-photo-452737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    MissCocktail
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1130813/pexels-photo-1130813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Led
  </div>


<footer>
  <div class="container">
    <div class="nine columns">
      <p>Created with love by Jeff.</p>
    </div>
    <div class="three columns"> <span class="typcn typcn-social-facebook-circular socialIcons"></span> <span class="typcn typcn-social-instagram-circular socialIcons"></span> <span class="typcn typcn-social-google-plus-circular socialIcons"></span> <span class="typcn typcn-social-linkedin-circular socialIcons"></span> </div>
  </div>
</footer>

</div>




  </body>
  </html>
