<html>

<head>


<div class="gradiant"></div>
<div class="stars"></div>



  <div class="header-container" style="font-family: fantasy">

    <div class = "name" style= "color: ghostwhite"> <h1><b>Gina Chen</b></h1></div><br>
    <div class = "name" style= "color: ghostwhite"> <p>I am a London-based fullstack developer.
     <br>I build creative, interactive and user-friendly websites for any industry.</p></div>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" href="#projects" data-letters="creative">Projects</a>
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" style = "margin-left: 25px;"href="#signup" data-letters="fresh">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div id="app" class="container">
  <card>
<div class = section-box>
<section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">MY REAL PASSION LIES IN CODING.</h2>
          <p class="text-white-50">I am a graduate of Le Wagon, the #1 web development bootcamp in the world. Having previously worked as a Sales Accounts Manager (EMEA) in the technology industry, covering <b> Big Data, IoT and Cloud technologies.</b>

          <br><br>During Le Wagons 9 week Full Stack Ruby on Rails course I spent the last 3 weeks building and shipping real web applications in a team of four, mainly using <b></b> Rails, Ruby, HTML, CSS, Javascript.</p>
        </div>
      </div>
      <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
  </section>

</div>
</div>
</card>




<div class= "projects-box" style = "display: flex; margin-left: -7%;   margin-top: 18%;">
<div class="grid">

  <figure class="effect-lily">
     <figcaption>
      <h2>Nice <span>Lily</span></h2>
      <p>Lily likes to play with crayons and pencils</p>
      <a href="#">View more</a>
    </figcaption>
    <img src="https://images.pexels.com/photos/9198/nature-sky-twilight-grass-9198.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="img01"/>

  </figure>

  <!-- ... -->

</div>

<div class="grid" style = "margin-left: -10%;">

  <figure class="effect-lily">
     <figcaption>
      <h2>Nice <span>Lily</span></h2>
      <p>Lily likes to play with crayons and pencils</p>
      <a href="#">View more</a>
    </figcaption>
    <img src="https://images.pexels.com/photos/7095/people-coffee-notes-tea.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="img01"/>

  </figure>

 </div>
</div>


<div class= "projects-box" style = "display: flex; margin-left: -7%;">
<div class="grid">

  <figure class="effect-lily">
     <figcaption>
      <h2>Nice <span>Lily</span></h2>
      <p>Lily likes to play with crayons and pencils</p>
      <a href="#">View more</a>
    </figcaption>
    <img src="https://images.pexels.com/photos/1232152/pexels-photo-1232152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="img01"/>

  </figure>
  </div>

<div class="grid" style = "margin-left: -10%;">

  <figure class="effect-lily">
     <figcaption>
      <h2>Nice <span>Lily</span></h2>
      <p>Lily likes to play with crayons and pencils</p>
      <a href="#">View more</a>
    </figcaption>
    <img src="https://images.pexels.com/photos/401107/pexels-photo-401107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="img01"/>

  </figure>

</div>



</div>












</div>




<footer>





  <div class="container-footer" style = "float:right;">


    <div class="nine columns">

      <p>Created with love by Gina.</p>

    </div>
    <div class="three columns"> <span class="typcn typcn-social-facebook-circular socialIcons"></span> <span class="typcn typcn-social-instagram-circular socialIcons"></span> <span class="typcn typcn-social-google-plus-circular socialIcons"></span> <span class="typcn typcn-social-linkedin-circular socialIcons"></span> </div>
  </div>
  <div class="social">

  <i id="github" class="icon-github"></i>

  <i id="linkedin" class="icon-linkedin-sign"></i>

  <i id="mail" class="icon-envelope"></i>
</div>

 </div>
</footer>

</body>

</html>
