<html>

<head>

  <div>
<div class="gradiant"></div>
<div class="stars"></div>

  <div class="header-container" style="font-family: fantasy">

    <div class = "name" > <h3>London-based Website <br>designer and Developer.</h3></div>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style = "margin-top: 35px;"id="mainNav">
    <div class = "nav-left"><%= image_tag "Gina's Logo-04.png", class: "img"%></div>
    <div class="container" style = "padding: 27px;">

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="link link--kukuri" style = "margin-left: 25px;"href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="banner" style="color:transparent; border:white solid; margin-top:25%;">
  <div class="container">

   <h1 style = "font-family: Book Antiqua; ">MY REAL PASSION LIES IN CODING!</h1>


    <p style = "font-family: Book Antiqua; font-style: italic;"><br>"THE ONLY WAY TO BE TRULY SATISFIED WTIH YOUR WORK IS TO DO WHAT YOU BELIEVE IS GREAT WORK."<br><br>I used to work as a Sales Accounts Manager (EMEA) in the technology industry, covering <b> Big Data, IoT and Cloud technologies.</b> where I found what I truly love.
    </p>
  </div>
</div>



<!-- Hero Unit -->
<section class="hero-unit">

  <div class="row" style = "justify-content: center; margin-top:10%; box-shadow: rgba(0,0,0,0.75)">
    <div class="large-12 columns">
      <hgroup>
        <h2 style="font-family: Book Antiqua">Code. Design. Education.</h2><br>
        <p class = "bio-unit" >My passion for coding kept me continously and enthusiastically to learn and <br>gain more experience. Make new opportunities.</p>
      </hgroup>


      <ul class="small-block-grid-2 medium-block-grid-3 flip-cards">

        <li ontouchstart="this.classList.toggle('hover');" style="list-style: none;">
          <div class="large button card-front" id = code-unit>
            <a href="#">Code</a>
            <i class="fa fa-code card-icon "></i>
          </div>
          <div class="panel card-back">
            <i class="fa fa-code card-icon"></i>
            <div class="hub-info">

              <p>I found myself enjoying coding enormously, I enjoy spend time,trying to figure out the best logic to get the best result.</p>
            </div>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');" style="list-style: none;">
          <div class="large button card-front">
            <a href="#">Front-end Skills</a>
            <i class="fa fa-pencil-square-o card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-pencil-square-o card-icon"></i>
            <div class="hub-info">

              <p style = "margin-top: 11px;">CSS and JavaScript Frameworks <br>HTML/CSS <br>Responsive Design <br>JavaScript and jQuery <br>CSS Preprocessing <br>Version Control and Git</p>
            </div>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');" style="list-style: none;">
          <div class="large button card-front" id ="code-unit">
            <a href="">Education</a>
            <i class="fa fa-paper-plane-o card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-paper-plane-o card-icon"></i>
            <div class="hub-info">
              <p style = "margin-top: 55px;">Le Wagon - Full Stack intensive Web Development course<br></p>
            </div>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');" style="list-style: none;">
          <div class="large button card-front">
            <a href="">Life</a>
            <i class="fa fa-map-o card-icon"></i>
          </div>

          <div class="panel card-back">
            <i class="fa fa-map-o card-icon"></i>
            <div class="hub-info">
              <p style = "margin-top: 60px;">I enjoy scubadiving and playing the piano at my spare time.</p>
            </div>

          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');" style="list-style: none;">
          <div class="large button card-front" id ="code-unit">
            <a href="#">Soft skills</a>
          </div>

          <div class="panel card-back">
            <div class="hub-info">

              <p style = "margin-top: 8px;">Hard problem-solving skill <br>The written and verbal communication skills <br> Teamwork spirit and  to work with people across agency <br>Ability to form long-term client relationship </p>
            </div>
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');" style="list-style: none;">
          <div class="large button card-front" >
            <a href="http://www.aicfchurch.org">Back-end skills</a>

          </div>

          <div class="panel card-back">
            <div class="hub-info">
              <p style = "margin-top: 9px;">Ruby and Ruby on rails <br> MVC architecture <br> OOP <br>SQL <br> PostgreSQL <br>MySQL <br>API </p>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="large-12 columns">
      <div class="small-12 small-centered medium-6 medium-centered large-3 large-centered columns clients">
        <a href="#">
          <p class="text-center">
            <span class="fa-stack">

          </span>
          </p>
        </a>
      </div>
      <!-- end .clients -->
    </div>

  </div>
</section>











<div class="large-12 columns" style="color:white">
      <hgroup>
        <div class = "projects-section" >
          <h1 class = "projects" >Projects</h1></div>
</div>



<div class="cards-projects" style = "margin-top: -6%">

  <a href="http://www.thegreenrocket.com/"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/9198/nature-sky-twilight-grass-9198.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    The Green Rocket
  </div></a>


  <a href="https://airbnb-lessonfly.herokuapp.com/"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    LessonFLY
  </div></a>

</div>

<div class="cards-projects">

  <a href="https://stark-retreat-93461.herokuapp.com"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/452737/pexels-photo-452737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">MissCocktail
  </div></a>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1629998/pexels-photo-1629998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    Led
  </div>
<div class="banner2" style="color:transparent; ">






</div>
<div class = "banner2-info" style = "display: block; margin: 10%; color:#dce2e8; ">

   <p class = "contact-info">If you would like to discuss your requirements, see my CV, grab a coffee or find out if I can help you in any way please don't hesitate to get in touch!</p>
   <ul class = "list">
     <p >+44 (0)7784 704 520</p>
     <p> <a style = "color:#dce2e8;" href="ginachen588@gmail.com"> ginachen588@gmail.com</a> </p>

   </ul>
  </div>
</div>

</div>

<div class="footer" style = "width=100%vw; color: #dce2e8;" >
  <div class = footer-personal-info>
  <%= image_tag "Gina's Logo-04.png", class: "img2"%>
  <ul class = "list">
    <li class = "details">+44 (0)7784 704 520</li>
    <li class = "details"> ginachen588@gmail.com</a> </li>
  </ul>
   </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>


</div>


  </body>
  </html>
