
.link {
  outline: none;
  text-decoration: none;
  position: relative!important;
  font-size: -5em!important;
  line-height: 1!important;
  color: #fff6fa!important;
  display: inline-block!important;
  font-family:Open Sans!important;
}
.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #b2b0a9;
}

.link--kukuri:hover {
  color: #b2b0a9!important;
}

.link--kukuri::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0)!important;
  transition: transform 0.4s!important;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1)!important;
}

.link--kukuri:hover::after {
  transform: translate3d(100%,0,0)!important;
}

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden!important;
  color: #424242;
  white-space: nowrap!important;
  width: 0%;
  transition: width 0.4s 0.3s!important;
}

.link--kukuri:hover::before {
  width: 100% !important;
}
.img{
    vertical-align: middle;
    border-style: none;
    width: 274px;
    margin-left: -92px;
}



*{
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 80px;
  height: 1900px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

@supports (position: sticky) {
  body {
    padding-top: 0;
  }

  header {
    position: sticky;
  }

}

.navbar {
  position: sticky;
  height: 90px;
  width: 100%;
  transition: 0.5s ease;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
}

.navbar .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  width: 70px;
  height: 70px;
  background-color: firebrick;
  transition: 0.5s ease;
}

.navbar .logo img {
  display: none;
}

.scrolled {
 transition: 0.5s ease;
}

.scrolled.navbar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;

}


.scrolled.navbar .nav .item {
  line-height: 40px;
  transition: 0.5s ease;
}

.scrolled.navbar .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.scrolled.navbar .logo {
  float: left;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  width: 40px;
  height: 40px;
  background-color: firebrick;
  transition: 0.5s ease;
}



.bg-secondary {
  background-color:#f0f3f700!important;
}
