
.link {
  outline: none;
  text-decoration: none;
  position: relative!important;
  font-size: -5em!important;
  line-height: 1!important;
  color: #fff6fa!important;
  display: inline-block!important;
  font-family:Open Sans!important;
}
.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #b2b0a9;
}

.link--kukuri:hover {
  color: #b2b0a9!important;
}

.link--kukuri::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0)!important;
  transition: transform 0.4s!important;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1)!important;
}

.link--kukuri:hover::after {
  transform: translate3d(100%,0,0)!important;
}

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden!important;
  color: #424242;
  white-space: nowrap!important;
  width: 0%;
  transition: width 0.4s 0.3s!important;
}

.link--kukuri:hover::before {
  width: 100% !important;
}
.img{
    vertical-align: middle;
    border-style: none;
    width: 290px;
}
