.projects-section {
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}
.cards-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-category {

overflow: hidden;
display: block;
height: 350px;
width: 50vw;
background-size: cover;
background-position: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-projects {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-projects {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-projects {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
